<div class="container">
  <div class="row">
    <% @pokemons.each do | pokemon | %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%= pokemon.img %>" alt="pokemon image">
          <div class="caption">
            <h3><%= pokemon.name %></h3>
          </div>
          <p class="btn btn-danger">
            <%= link_to 'Soltar', pokemon, method: :delete, data: { confirm: "Soltar #{pokemon.name}?" } %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>