  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="thumbnail">
          <img src="<%= @pokemon.img %>" alt="pokemon image">
          <div class="caption">
            <h3><%= @pokemon.name %></h3>
            <% @pokemon.types.each do | type | %>
              <div class="types">
                <button class="btn btn-primary" role="button"><%= type['type']['name'] %></button> 
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>