  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="thumbnail">
          <img src="<%= @pokemon.img %>" alt="pokemon image">
          <div class="caption">
            <h3><%= @pokemon.name %></h3>
            <div class="types">
              <% @pokemon.types.each do | type | %>
                  <p class="btn btn-primary"><%= type['type']['name'] %></p> 
              <% end %>
            </div>
            <p>
              <button class="btn btn-success">Capturar</button> 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>