@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #f7f7f7;
}

h1 {
  color: #ffffff;
  margin: 0;
}

a, a:hover {
  color: #ffffff;
  text-decoration: none;
}

.container {
  margin-top: 100px;
}

.caption, .thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.types {
  display: flex;
  margin: 10px;

  p {
    & + p {
      margin-left: 5px;
    }
  }
}

.container-fluid {
  display: flex;
  align-items: center;

  & > a {
    margin-left: 50px;
    font-size: 20px;
  }
}