@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #f7f7f7;
}

h1 {
  color: #ffffff;
}

.container {
  margin-top: 100px;
}

.caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.types {
  display: flex;
  margin: 10px;

  p {
    & + p {
      margin-left: 5px;
    }
  }
}