<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <h1><a href="/pokemons/pokedex">Pokedex</a></h1>
        <a href="/pokemons">Home</a>
      </div>
    </nav>
  </body>
</html>